@model MinimalConsumer.Data.Widget
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head><title>@Model.Name</title></head>
<body>
  <h1>@Model.Name</h1>
  <p>@Model.Description</p>
  <p>Price: $@Model.Price</p>
</body>
</html>
